src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/3.1/mule-twitter.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd">

    <twitter:config name="twitter" consumerKey="${twitter.consumer.key}" consumerSecret="${twitter.consumer.secret}"
        format="JSON" oauthToken="${twitter.access.token}" oauthTokenSecret="${twitter.access.secret}"/>

<!--     <flow name="vm2twitter"> -->
<!--         <vm:inbound-endpoint path="in"/> -->
<!--         <twitter:update-status status="#[payload:]"/> -->
<!--     </flow> -->

    <flow name="http2twittter">
        <http:inbound-endpoint host="localhost" port="12121" path="marketing" exchange-pattern="request-response">
            <response>
                <message-properties-transformer>
                    <add-message-property key="Content-Type" value="text/html"/>
                </message-properties-transformer>
            </response>
        </http:inbound-endpoint>
        <choice>
            <when evaluator="header" expression="inbound:http.method = GET">
                <component class="org.mule.ResourceComponent"/>
            </when>
            <otherwise>
                <http:body-to-parameter-map-transformer/>
                <expression-transformer evaluator="map-payload" expression="status"/>
                <twitter:update-status status="#[payload:]"/>
            </otherwise>
        </choice>
    </flow>
</mule>
